*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: var(--karmir) #393939;
}
@font-face {
    font-family: braind-yerevan;
    src: url(BraindYerevan.otf);
}
:root{
    --karmir:#EC1E24;
    --backgrounColor:#181818;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--backgrounColor);
    user-select: none;
    /* background: red; */
    -webkit-user-select: none;
}
.active{
    color: #EC1E24;
}
header {
    /* position: fixed; */
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
    z-index: 9999;
}
header.transparent {
    background: transparent;
}

header.scrolled {
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
}
.header-section{
    width: 1300px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    width: 200px;
}
.header-logo a img{
    width: 160px;
}
header nav{
    width: 1000px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style: none;
}
header nav ul li a{
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    letter-spacing: 1px;
    transition: 0.4s;
}
header nav ul li a:hover{
    color: var(--karmir);
}
.button-top{
    position: fixed;
    border-radius: 50%;
    border: 3px dashed var(--karmir);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 50px;
    right: 50px;
    transition: 0.6s;
    pointer-events: none;
    opacity: 0;
    z-index: 9999;
}
.button-top a{
    font-size: 20px;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 50%;
}   
.button-top:hover{
    background: #EC1E24;
}
.burger-menu{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius:50% ;
    cursor: pointer;
    display: none;
}
.burger-menu i {
    font-size: 30px;
}
.close{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: white; */
    border: 1px solid white;
    border-radius:50% ;
    cursor: pointer;
    display: none;
    color: white;
}
.close i {
    font-size: 30px;
    /* font-weight: 100; */
}
.responsiveLogo{
    display: none;
}
.active a{
    color: #EC1E24;
}
.section-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.section-types{
    width: 1300px;
    height: 720px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.types-img{
    width: 55%;
    height: 700px;
    /* border: 1px solid red; */
    position: relative;
}
.klor{
    width: 580px;
    position: absolute;
    top: 60px;
    right: 30px;
}
.bajak{
    width: 400px;
    z-index: 9997;
    position: absolute;
    top: 60px;
    right: 120px;
}
.box{
    position: absolute;
}
.boxik1{
    top: 140px;
    left: 140px;
}
.boxik2{
    top: 190px;
    right: 70px;
}
.boxik3{
    right: 70px;
    bottom: 120px;
}
.responsiveLogo{
    display: none;
}
.for-flex{
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.types-text{
    width: 45%;
    height: 100%;
    /* border: 1px solid green; */
    display: flex;
    padding-top:150px ;
    flex-direction: column;
    gap: 3rem;
}
.types-text h2{
    color: white;
    font-size: 80px;
    font-weight: normal;
    font-family: braind-yerevan;
}
.types-text p {
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    line-height: 35px;
}
.products-section{
    display: flex;
    flex-direction: column;
    width: 1300px;
    height: 700px;
    /* border: 1px solid red; */
    justify-content: space-between;
    margin-top: 50px;
}
.products-section h2{
    font-size: 155px;
    color: transparent;
    font-family: braind-yerevan;
    -webkit-text-stroke: 1px  white;
    font-weight: normal;
}
.slider-macha{
    width: 1300px;
    height: 450px;
    /* border: 1px solid blanchedalmond; */
    display: flex;
    /* margin-top: 30px; */
    overflow: hidden;
    position: relative;
}
.macha-slider-box{
    display: flex;
    transition: 1s;
    gap: 2rem;
    /* flex-wrap: wrap; */
}
.product-box{
    width: 300px;
    height: 450px;
    background: #7B7575;
    border-radius: 19px;
    display: flex;
    flex-direction: column;
    transition: 1s;
    border: 2px solid #d1d1d1;
}
.product-box:hover{
    background: #EC1E24;
}
.product-box:hover .img-box img{
    transform: rotate(7deg);
}
.img-box{
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}
.img-box img{
    width: 150px;
    transition: 1s;
}
.text-box{
    width: 100%;
    height: 170px;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text-box h3{
    font-size: 25px;
    color: white;
    font-family:sans-serif;
    font-weight: normal;
    text-align: center;
}
.text-box p {
    text-align: center;
    margin-top: 10px;
    /* color: rgb(41, 39, 39); */
    color: aliceblue;
    font-family: sans-serif;

}

.left-right-button{
    width: 60px;
    height: 60px;
    background: rgba(0, 0, 0, 0.434);
    /* background: black; */
    cursor: pointer;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 8px;
}
.slider-macha:hover .slider-buttons {
    opacity: 1;
}
.left{
    left: 0;
    top: 45%;
}
.right{
    right: 4px;
    top: 45%;
}
.nav-bar{
    width: 1400px;
    height: 100px;
    position: fixed;
    bottom: 0px;
    z-index: 9998;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    align-items: center;
    gap: 0.4rem;
    transition: 1s;
}
.nav-bar a {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 150%;
    /* line-height: 1.2em; */
    color: rgb(204, 204, 204);
    position: relative;
    background: rgb(24, 24, 24);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    border-radius: 342px;
    padding: 15px 32px;
}

footer{
    width: 1300px;
    height: 450px;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
.info-box{
    width: 100%;
    height: 270px;
    /* border: 1px solid rebeccapurple; */
    display: flex;
}
.info{
    width: 25%;
    height: 100%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    font-family: sans-serif;
    padding: 0 80px;
    gap: 1rem;
}
.info span{
    font-size: 45px;
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: braind-yerevan;
}
.info a{
    text-decoration: none;
    color: rgb(150, 150, 150);
    transition: 0.4s;
    font-size: 17px;
}
.info p{
    color: rgb(150, 150, 150);
    font-size: 17px;
}
.info a:hover{
    color: var(--karmir);
}
.text-footer{
    width: 100%;
    height: 120px;
    border-top: 1px solid #1E2939;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(94, 94, 94);
    font-family: sans-serif;
    letter-spacing: 0.4px;
    font-weight: normal;
}
.icons{
    width: 100%;
    height: 40px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.icons a{
    font-size: 25px;
}


.marquee {
    width: 100%;
    overflow: hidden;
    border-top: 4px dashed #EC1E24;
    border-bottom: 4px dashed #EC1E24;
    color: white;
    margin-top: 100px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.track {
    display: inline-block;
    white-space: nowrap;
    animation: scroll 50s linear infinite;
    justify-content: center;
    align-items: center;
}
.track img{
    width: 50px;
    margin: 0 30px;
}

.track span {
    /* margin-right: 50px;  */
    font-size: 68px;
    font-family: braind-yerevan;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}