* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: var(--karmir) #393939;
}

@font-face {
    font-family: braind-yerevan;
    src: url(BraindYerevan.otf);
}

:root {
    --karmir: #EC1E24;
    --backgrounColor: #181818;
}

html {
    scroll-behavior: smooth;
}
.active{
    color: #EC1E24;
}
body {
    background-color: var(--backgrounColor);
    user-select: none;
    -webkit-user-select: none;
}

header {
    /* position: fixed; */
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
    z-index: 9999;
}

header.transparent {
    background: transparent;
}

header.scrolled {
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
}

.header-section {
    width: 1300px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}

.header-logo {
    width: 200px;
}

.header-logo a img {
    width: 160px;
}

header nav {
    width: 1000px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

header nav ul li a {
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    letter-spacing: 1px;
    transition: 0.4s;
}

header nav ul li a:hover {
    color: var(--karmir);
}

.burger-menu {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}

.burger-menu i {
    font-size: 30px;
}

.close {
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    /* background: white; */
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    color: white;
}

.close i {
    font-size: 30px;
    /* font-weight: 100; */
}

.responsiveLogo {
    display: none;
}

.for-flex {
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.news-contact {
    width: 1300px;
    /* height: 50px; */
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
    margin-top: 80px;
}

.news-contact h2 {
    font-family: braind-yerevan;
    color: white;
    font-size: 90px;
    font-weight: 100;
    /* object-fit: contain; */
}

.contact-flex-box {
    width: 1300px;
    height: auto;
    /* border: 1px solid blue; */
    margin-top: 30px;
    display: flex;
}

.contact-inputs {
    width: 70%;
    /* height: 500px; */
    /* border: 1px solid green; */
    display: flex;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.npatak-box{
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    display: flex;
    gap: 2rem;
}
.npatak-box label  {
    color: #C6C6C6;
    font-size: 16px;
    font-family: sans-serif;
    cursor: pointer;
    padding: 12px 15px;
    border: 1px solid #C6C6C6;
    border-radius: 30px;
}
/* input[type = "radio"]{} */
/* i0 */
input[type="radio"] {
    accent-color: var(--karmir);
}
label:has(input[type="radio"]:checked) {
    background: white;
    color: #181818;
}
.npatak-label{
    color: #C6C6C6;
    font-family: sans-serif;
    font-size: 17px;
}
.contact-inputs input{
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #666666 ;
    padding: 15px 0;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    transition: 0.3s;
}
.contact-inputs input:focus{
    border-bottom: 1px solid white;
}
button[type = "submit"]{
    width: 220px;
    height: 60px;
    background: transparent;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    transition: 0.4s;
    font-family: sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    border: 2px dashed var(--karmir); 
    cursor: pointer; 
}
button[type = "submit"]:hover {
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
    transform: translateY(-3px);
    background: #EC1E24;
}
.about-our-contact {
    width: 30%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid gold; */
    padding: 0 30px;
    gap: .5rem;
    overflow: hidden;

}
.about-our-contact p {
    color: white;
    font-size: 17px;
    font-family: sans-serif;   
}
.about-our-contact a{
    text-decoration: none;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    color: white;
    transition: 0.3s;
}
.about-our-contact a:hover{
    color: #EC1E24;
}
.about-our-contact span{
    font-size: 20px;
    font-family: sans-serif;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.icons-div-contact{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 5px;
    /* overflow:hidden; */
    /* border: 1px solid red; */
    /* width: 400px; */
    height: auto;
    flex-wrap: wrap;
}
.icons-cont{
    width: 50px;
    height:50px;
    border-radius: 50%;
    background: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    width: 1300px;
    height: 450px;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
.info-box{
    width: 100%;
    height: 270px;
    /* border: 1px solid rebeccapurple; */
    display: flex;
}
.info{
    width: 25%;
    height: 100%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    font-family: sans-serif;
    padding: 0 80px;
    gap: 1rem;
}
.info span{
    font-size: 45px;
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: braind-yerevan;
}
.info a{
    text-decoration: none;
    color: rgb(150, 150, 150);
    transition: 0.4s;
    font-size: 17px;
}
.info p{
    color: rgb(150, 150, 150);
    font-size: 17px;
}
.info a:hover{
    color: var(--karmir);
}
.text-footer{
    width: 100%;
    height: 120px;
    border-top: 1px solid #1E2939;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(94, 94, 94);
    font-family: sans-serif;
    letter-spacing: 0.4px;
    font-weight: normal;
}
.icons{
    width: 100%;
    height: 40px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.icons a{
    font-size: 25px;
}